footer.page-footer.orange
  .container
    .row
      //- .col.l6.s12
        h5.white-text Company Bio
          p.grey-text.text-lighten-4 We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.

      //- .col.l3.s12
        h5.white-text Settings
        ul
          li
            <a class="white-text" href="#!">Link 1</a></li>
          li
            <a class="white-text" href="#!">Link 2</a></li>
          li
            <a class="white-text" href="#!">Link 3</a></li>
          li
            <a class="white-text" href="#!">Link 4</a></li>

      .col.l12.s12
        //- h5.white-text புகுபதிகை
        //- .fb-page(data-href="https://www.facebook.com/Ayya1008" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
          blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/Ayya1008")
            a(href="https://www.facebook.com/Ayya1008") அய்யா 1008
        //- fb:login-button(scope="public_profile,email,user_friends")
  .footer-copyright
    //- .container
      | Made by 
      a.brown-text.text-lighten-3(href="hhttp://www.iamsugan.in/") சுகன்
