.home(ng-controller="HomeController as home")
  .parallax-container
    section.no-pad-bot.valign.white
      .container
        br
        .row.center
          h5.header.col.s12.light.orange-text தினமொரு நேரம் எந்தன் திருமொழி யதனைக் கேட்டால் பனிவெள்ளம் போலே பாவம் பறந்திடும் நிசமே சொன்னோம்.
        .row.center
          a(href="https://play.google.com/store/apps/details?id=in.iamsugan.ayya1008" class="btn-large waves-effect waves-light teal lighten-1") பதிவிறக்க
        br
    .parallax
      img(src="../assets/images/lamp.jpg" width="100%")
