//- .row
//-   .col-sm-6.col-md-4(ng-repeat="temple in main.temples")
//-     .thumbnail
//-       .caption
//-         h3 {{ temple.name }}
//-         p {{ temple.district }}

form
  .panel.panel-default
    .panel-heading.pointer(ng-init="isCollapsed=false", ng-click="isCollapsed=!isCollapsed") Temple Details
    .panel-body
      .row
        .form-group.col-sm-6
          label(for="name") தாங்கல் பெயர் *
          input.form-control(type="text" id="name" placeholder="திருச்செந்தூர் அவதார பத")
        .form-group.col-sm-6
          label(for="priest_name") பணிவிடையாளர் பெயர்
          input.form-control(type="text" id="priest_name" placeholder="பாலன்")
      .row
        .form-group.col-xs-6
          label(for="founded") நிறுவப்பட்ட வருடம்
          input.form-control(type="number" id="founded" placeholder="1957")
        .form-group.col-xs-6
          label(for="book_month") திருஏடு மாதம்
          select.form-control(id="book_month")
            option(ng-repeat="month in main.tamilMonths track by $index") {{month}}
      .form-group
        h5 வாகனங்கள்
        .row
          .checkbox.col-xs-6(ng-repeat="car in main.cars track by $index")
            label
              input(type="checkbox" value="")
              option {{car.name}}
        //- label(for="car") மற்ற வாகனங்கள்
        //- input.form-control(type="text" id="car")
      .form-group
        label(for="facebook_url") பேஸ்புக் பக்கம்
        input.form-control(type="url" id="facebook_url" placeholder="https://www.facebook.com/Kadambankulam/")
      .form-group
        label(for="information") தகவல்
        textarea.form-control(id="information")

  .panel.panel-default
    .panel-heading.pointer Temple Address
    .panel-body
      .row
        .form-group.col-xs-6
          label(for="village") கிராமம்
          input.form-control(type="text" id="village" placeholder="கடம்பன்குளம்")
        .form-group.col-xs-6
          label(for="taluk") தாலுகா
          input.form-control(type="text" id="taluk" placeholder="ராதாபுரம்")
      .row
        .form-group.col-xs-6
          label(for="district") மாவட்டம்
          select.form-control(id="district")
            option(ng-repeat="district in main.districts track by $index") {{district}}
        .form-group.col-xs-6
          label(for="pincode") அஞ்சல் குறியீடு
          input.form-control(type="number" id="pincode" placeholder="627109")
      .row
        .form-group.col-xs-6
          label(for="latitude") அட்சரேகை (Latitude)
          input.form-control(type="number" id="latitude" placeholder="8.334413")
        .form-group.col-xs-6
          label(for="longitude") தீர்க்கரேகை (Longitude)
          input.form-control(type="number" id="longitude" placeholder="77.605804")
      .form-group
        label(for="street_address") முகவரி
        textarea.form-control(id="street_address")

  .panel.panel-default
    .panel-heading.pointer Contact Person Details
    .panel-body
      .row
        .form-group.col-sm-4
          label(for="contact_person") தொடர்பு நபர்
          input.form-control(type="text" id="contact_person" placeholder="சுப்பிரமணியம்ன்")
        .form-group.col-sm-4
          label(for="contact_number") மொபைல் எண் *
          input.form-control(type="tel" id="contact_number" placeholder="+91-9611772683")
        .form-group.col-sm-4
          label(for="contact_email") மின்னஞ்சல்
          input.form-control(type="email" id="contact_email" placeholder="rgk.sugan@gmail.com")
  .panel.panel-default
    .panel-body
      button(type="submit" class="btn btn-primary btn-block") அனுப்பு
