<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @temple.name %></h1>
    <h2>Your temple <%= @temple.name %> is published.</h2>
    <p>If there are any changes you need to make in the details, do let us know.</p>
  </body>
</html>