.map-icon {
  float: left;
  height: 45px;
  margin-right: 20px;
  width: 45px;
}

.map {
  h3 {
    margin: 0 0 10px 0;
  }
}

.circle {
  background-color: #FF9933;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  margin-right: 20px;
  text-align: center;
  width: 45px;
}
