.container(ng-controller="NewTempleController as newTemple")
  .card
    .card-content
      .card-title தாங்கலை சேர்க்க
      form.col.s12
        .row
          .input-field.col.s12
            input.validate(id="first_name" type="text" ng-model="newTemple.temple.name" required)
            label(for="first_name") Temple Name / தாங்கல் பெயர் *
        .row
          .input-field.col.s12
            textarea.materialize-textarea(ng-model="newTemple.temple.information")
            label Information / தகவல்
        .row
          .input-field.col.s12
            input.validate(id="mobile" type="text" required ng-model="newTemple.temple.mobile_number")
            label(for="mobile") Mobile Number / மொபைல் எண் *
        .row
          .input-field.col.s6
            input(id="founded" type="number" class="validate" min="1800" max="2016" ng-model="newTemple.temple.founded_at")
            label(for="founded") Founded Year / நிறுவப்பட்ட வருடம்
          .input-field.col.s6
            input.validate(id="priest" type="text" ng-model="newTemple.temple.priest_name")
            label(for="priest") Priest Name / பணிவிடையாளர் பெயர்
        .row
          .input-field.col.s12
            input.validate(id="fb_page_url" type="url" ng-model="newTemple.temple.facebook_page_url")
            label(for="fb_page_url") Facebook page URL / பேஸ்புக் பக்கம்
        .row
          .input-field.col.s6
            select(multiple ng-model="newTemple.temple.cars")
              option(disabled selected) வாகனங்கள்
              option(value="{{car.id}}" ng-repeat="car in newTemple.cars track by car.id") {{car.name}}
            label வாகனங்கள்
          .input-field.col.s6
            select(ng-model="newTemple.temple.book_month")
              option(disabled selected) திருஏடு மாதம்
              option(value="{{month}}" ng-repeat="month in newTemple.tamilMonths track by $index") {{month}}
            label திருஏடு மாதம்
        .row
          .input-field.col.s6
            input(id="village" type="text" ng-model="newTemple.temple.village")
            label(for="village") Village / கிராமம்
          .input-field.col.s6
            input(id="taluk" type="text" ng-model="newTemple.temple.taluk")
            label(for="taluk") Taluk / தாலுகா
        .row
          .input-field.col.s6
            select(ng-model="newTemple.temple.district")
              option(disabled selected) மாவட்டம்
              option(value="{{district}}" ng-repeat="district in newTemple.districts track by $index") {{district}}
            label District / மாவட்டம்
          .input-field.col.s6
            input(id="pincode" type="number" ng-model="newTemple.temple.pincode")
            label(for="pincode") Pincode / அஞ்சல் குறியீடு
        .row
          .input-field.col.s6
            input(id="latitude" type="number" ng-model="newTemple.temple.latitude")
            label(for="latitude") Latitude / அட்சரேகை
          .input-field.col.s6
            input(id="longitude" type="number" ng-model="newTemple.temple.longitude")
            label(for="longitude") Longitude / தீர்க்கரேகை
        .row
          .file-field.input-field
            .btn
              span Photo 1 / புகைப்படம் 1
              input(type="file" accept="image/*" file-model='newTemple.temple.image1')
            .file-path-wrapper
              input.file-path.validate(type="text" placeholder="புகைப்படம் 1")
          .file-field.input-field
            .btn
              span Photo 2 / புகைப்படம் 2
              input(type="file" accept="image/*" file-model='newTemple.temple.image2')
            .file-path-wrapper
              input.file-path.validate(type="text" placeholder="புகைப்படம் 2")
          .file-field.input-field
            .btn
              span Photo 3 / புகைப்படம் 3
              input(type="file" accept="image/*" file-model='newTemple.temple.image3')
            .file-path-wrapper
              input.file-path.validate(type="text" placeholder="புகைப்படம் 3")
        .row.center-align
          .preloader-wrapper.big(ng-class="{active: newTemple.isSpinner}")
            .spinner-layer.spinner-blue-only
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle
          button.btn.waves-effect.waves-light(type="submit" name="action" ng-click="newTemple.submit()" ng-show="!newTemple.isSpinner") அனுப்பு
            i.material-icons.right send
