.slider {
  .slides {
    background-color: transparent;

    li {
      img {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.links {
  cursor: pointer;
}

.stats {
  margin: 10px;
  margin-bottom: 50px;
}

.temple {
  .map {
    margin: 50px 0;
  }
}

.facebook-page {
  margin: 0 auto;
}
