.slider {
  .slides {
    background-color: transparent;

    li {
      img {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.links {
  cursor: pointer;
}
